<div class="shadow-xl rounded-2xl max-w-xs relative Primary-font overflow-hidden max-h-[360px]">
    <header class="relative p-2 bg-gray-200 rounded-t-xl flex justify-center">
        <div class="relative">
            <p-image [src]="data?.url" class="w-full pointer-events-none" [preview]="true"></p-image>
            <div class="Primary-font font-semibold absolute flex flex-row items-center gap-4 top-0 right-0">
                <p>{{ data?.engine?.displacement }} cc</p>
            </div>
            <div class="absolute flex flex-row gap-4 top-0 left-0">
                <a href="#">
                    <button class="font-sans font-bold">
                        <p>$ {{ data?.price }}</p>
                    </button>
                </a>
            </div>
        </div>
        <p-tag severity="info" value="Cafe Racer" class=" absolute right-2 pointer-events-none" />
    </header>
    <main class="p-4 bg-white flex flex-col gap-4 transition-transform transform translate-y-0 hover:translate-y-[-60px]">
        <div>
            <h4 class="font-bold font-sans">{{ data?.model }}</h4>
            <span class="font-bold text-slate-600">{{ data?.year }}</span>
            <div></div>
            <div
                class="flex justify-between items-center mt-1 border-t-2 Primary-font font-semibold border-gray-300 pt-3">
                <div class="flex flex-col gap-1">
                    <span>Cilindrada</span>
                    {{ data?.engine?.displacement }}
                </div>
                <div class="flex flex-col">
                    <span>Rendimiento</span>
                    <p>{{ data?.engine?.power }}-hp</p>
                </div>
            </div>

        </div>
        <button class="w-full uppercase bg-blue-600 font-semibold text-center text-white py-2 rounded-lg hover:bg-black">La Quiero</button>
    </main>

</div>


