<section class="w-full p-4 gap-8 bg-white">

    <div class="p-4 flex flex-row gap-8 justify-center border-black border-b-4 w-auto Primary-font">
        
        <div class="hover:bg-gray-100 rounded-md overflow-hidden border-r-4 p-5 w-72">
            <header class="text-center">
                <i class="flaticon-bajo-rendimiento text-red-600 Icon-Size"></i>
            </header>
            <footer class="p-4 flex flex-col gap-3 items-center">
                <span class="Primary-font font-semibold">CILINDRADA</span>
                <p class="text-sm text-gray-500">124.4cc</p>
            </footer>
        </div>

        <div class="hover:bg-gray-100 rounded-md overflow-hidden border-r-4 p-5 w-72">
            <header class="text-center">
                <i class="flaticon-pistons text-red-600 Icon-Size"></i>
            </header>
            <footer class=" p-4 flex flex-col gap-3 items-center">
                <span class="Primary-font font-semibold">VELOCIDAD</span>
                <p class="text-sm text-gray-500">100 Km/h</p>
            </footer>
        </div>

        <div class="hover:bg-gray-100 rounded-md overflow-hidden border-r-4 p-5 w-72">
            <header class="text-center">
                <i class="flaticon-radar-de-velocidad text-red-600 Icon-Size"></i>
            </header>
            <footer class=" p-4 flex flex-col gap-3 items-center">
                <span class="Primary-font font-semibold">TRANSMISIÓN</span>
                <p class="text-sm text-gray-500">Mecánica</p>
            </footer>
        </div>

        <div class="hover:bg-gray-100 rounded-md overflow-hidden border-r-4 p-5 w-72">
            <header class="text-center">
                <i class="flaticon-caja-de-cambios text-red-600 Icon-Size"></i>
            </header>
            <footer class=" p-4 flex flex-col gap-3 items-center">
                <span class="Primary-font font-semibold">RENDIMIENTO</span>
                <p class="text-sm text-gray-500">187 Km/gl</p>
            </footer>
        </div>

    </div>

</section>
