<section class="flex flex-col gap-3 max-w-3xl bg-white p-6">
    <header class="flex flex-col gap-3">
         <h3 class="Primary-font text-2xl">Taking Rides To Newer Level</h3>
         <h2 class="Primary-font text-5xl">Ellite Pro Book 15´6 7500U</h2>
         <p class="Roboto-Font">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus,
             quos dicta voluptates praesentium molestiae quaerat optio in necessitatibus
             provident minima suscipit neque veritatis ab molestias vel. Cupiditate suscipit
             pariatur eligendi.
         </p>
     </header>

     <main class="flex flex-col gap-3 self-end text-right Primary-font p-3">
         <span class="text-3xl font-bold">$ 850.00</span>
         <div class="flex flex-row items-center gap-3 text-right">
             <span class="line-through">$700</span>
             <span class="text-2xl font-semibold"> 50% Off</span>
         </div>
     </main>

     <footer class="flex flex-col gap-3">
         <h1 class="text-5xl Primary-font font-bold">Especificaciones Tecnicas</h1>
         <div class="grid grid-cols-3 grid-3 gap-4 justify-center p-3">
             
             <p-card class="hover:bg-gray-100 rounded-md overflow-hidden hover:text-red-500">
                 <ng-template pTemplate="footer">
                     <div class="flex sm:flex-col xl:flex-row justify-center items-center gap-3">
                         <i class="flaticon-motor-del-coche" style="font-size: 2rem;"></i>
                         <span class="font-bold text-xs Primary-font max-w-20 sm:text-center">Easy To Book For Rentals</span>
                     </div>
                 </ng-template>
             </p-card>

             <p-card class="hover:bg-gray-100 rounded-md overflow-hidden hover:text-red-500">
                 <ng-template pTemplate="footer">
                     <div class="flex sm:flex-col xl:flex-row justify-center items-center gap-3">
                         <i class="flaticon-motor-del-coche" style="font-size: 2rem;"></i>
                         <span class="font-bold text-xs Primary-font max-w-20 sm:text-center">Easy To Book For Rentals</span>
                     </div>
                 </ng-template>
             </p-card>

             <p-card class="hover:bg-gray-100 rounded-md overflow-hidden hover:text-red-500">
                 <ng-template pTemplate="footer">
                     <div class="flex sm:flex-col xl:flex-row justify-center items-center gap-3">
                         <i class="flaticon-motor-del-coche" style="font-size: 2rem;"></i>
                         <span class="font-bold text-xs Primary-font max-w-20 sm:text-center">Easy To Book For Rentals</span>
                     </div>
                 </ng-template>
             </p-card>

             <p-card class="hover:bg-gray-100 rounded-md overflow-hidden hover:text-red-500">
                 <ng-template pTemplate="footer">
                     <div class="flex sm:flex-col xl:flex-row justify-center items-center gap-3">
                         <i class="flaticon-motor-del-coche" style="font-size: 2rem;"></i>
                         <span class="font-bold text-xs Primary-font max-w-20 sm:text-center">Easy To Book For Rentals</span>
                     </div>
                 </ng-template>
             </p-card>

             <p-card class="hover:bg-gray-100 rounded-md overflow-hidden hover:text-red-500">
                 <ng-template pTemplate="footer">
                     <div class="flex sm:flex-col xl:flex-row justify-center items-center gap-3">
                         <i class="flaticon-motor-del-coche" style="font-size: 2rem;"></i>
                         <span class="font-bold text-xs Primary-font max-w-20 sm:text-center">Easy To Book For Rentals</span>
                     </div>
                 </ng-template>
             </p-card>

             <p-card class="hover:bg-gray-100 rounded-md overflow-hidden hover:text-red-500">
                 <ng-template pTemplate="footer">
                     <div class="flex sm:flex-col xl:flex-row justify-center items-center gap-3">
                         <i class="flaticon-motor-del-coche" style="font-size: 2rem;"></i>
                         <span class="font-bold text-xs Primary-font max-w-20 sm:text-center">Easy To Book For Rentals</span>
                     </div>
                 </ng-template>
             </p-card>             
         </div>
     </footer>
 </section>