<section class="w-full p-4 flex flex-row items-center justify-center gap-8 border-b-4 bg-white mt-20 mb-20">
    
    <div class="hover:bg-gray-100 rounded-md overflow-hidden border-r-4 p-5 hover:text-red-500">
        <header class="text-center">
            <i class="flaticon-bajo-rendimiento text-red-600 Icon-Size" ></i>
        </header>
        <div class="p-4 flex flex-col items-center">
            <span class="Primary-font font-semibold">CILINDRADA</span>
            <p>124.4cc</p>
        </div>
    </div>

    <div class="hover:bg-gray-100 rounded-md overflow-hidden border-r-4 p-5 hover:text-red-500">
        <header class="text-center">
            <i class="flaticon-pistons text-red-600 Icon-Size" ></i>
        </header>
        <div class=" p-4 flex flex-col items-center">
            <span class="Primary-font font-semibold">CILINDRADA</span>
            <p>124.4cc</p>
        </div>
    </div>

    <div class="hover:bg-gray-100 rounded-md overflow-hidden border-r-4 p-5 hover:text-red-500">
        <header class="text-center">
            <i class="flaticon-radar-de-velocidad text-red-600 Icon-Size" ></i>
        </header>
        <div class=" p-4 flex flex-col items-center">
            <span class="Primary-font font-semibold">CILINDRADA</span>
            <p>124.4cc</p>
        </div>
    </div>

    <div class="hover:bg-gray-100 rounded-md overflow-hidden border-r-4 p-5 hover:text-red-500">
        <header class="text-center">
            <i class="flaticon-caja-de-cambios text-red-600 Icon-Size" ></i>
        </header>
        <div class=" p-4 flex flex-col items-center">
            <span class="Primary-font font-semibold">CILINDRADA</span>
            <p>124.4cc</p>
        </div>
    </div>

    <div class="hover:bg-gray-100 rounded-md overflow-hidden border-r-4 p-5 hover:text-red-500">
        <header class="text-center">
            <i class="flaticon-bajo-rendimiento text-red-600 Icon-Size" ></i>
        </header>
        <div class=" p-4 flex flex-col items-center">
            <span class="Primary-font font-semibold">CILINDRADA</span>
            <p>124.4cc</p>
        </div>
    </div>

</section>




<!-- <div class="flex flex-row gap-4 justify-center max-w-3xl bg-white rounded-xl mt-10">

    

</div> -->