<p-accordion [activeIndex]="0" class="w-full Primary-font hover:text-blue-500">
    <p-accordionTab header="Filter">
        <div class="p-4 flex flex-col gap-4">
            <!-- <app-filter-by-origin/> -->
            <!-- <app-filter-by-diameter/> -->
            <!-- <app-filter-by-colors/> -->
            <!-- <app-filter-by-materials/> -->
            <app-filter-by-price-and-coin/>
            <app-filter-by-brand/>
            <app-filter-by-performance/>
            <app-filter-by-displacement/>
            <app-filter-by-power/>
            <!-- <app-filter-by-rating/> -->
            <!-- <app-filter-by-manufactures/> -->
        </div>
    </p-accordionTab>
</p-accordion>