<div class="hidden md:block">
    <div class="flex flex-row">
        <div class="flex flex-col justify-center">
            <div (click)="handleOption(1)"
                class="flex flex-col gap-3 justify-center items-center bg-black p-4 border-l-8 border-blue-600 hover:bg-gray-600 hover:border-blue-200"
                [ngClass]="{'bg-gray-600 border-blue-200': option === 1,'bg-black border-blue-600': option !== 1}">
                <span class="proximaNova-Regular text-white text-xl font-semibold">Motor</span>
                <i class="flaticon-motor-del-coche text-3xl text-white"></i>
            </div>

            <div (click)="handleOption(2)"
                class="flex flex-col gap-3 justify-center items-center bg-black p-4 border-l-8 border-blue-600 hover:bg-gray-600 hover:border-blue-200"
                [ngClass]="{'bg-gray-600  border-blue-200': option === 2, 'bg-black  border-blue-600': option !== 2 }">
                <span class="proximaNova-Regular text-white text-xl font-semibold">Combustible</span>
                <i class="flaticon-combustible text-3xl text-white"></i>
            </div>

            <div (click)="handleOption(3)"
                class="flex flex-col gap-3 justify-center items-center bg-black p-4 border-l-8 border-blue-600 hover:bg-gray-600 hover:border-blue-200"
                [ngClass]="{'bg-gray-600  border-blue-200': option === 3, 'bg-black  border-blue-600': option !== 3 }">
                <span class="proximaNova-Regular text-white text-xl font-semibold">Suspensión</span>
                <i class="flaticon-freno-de-disco text-3xl text-white"></i>
            </div>

            <div (click)="handleOption(4)"
                class="flex flex-col gap-3 justify-center items-center bg-black p-4 border-l-8 border-blue-600 hover:bg-gray-600 hover:border-blue-200"
                [ngClass]="{'bg-gray-600  border-blue-200': option === 4,'bg-black  border-blue-600': option !== 4}">
                <span class="proximaNova-Regular text-white text-xl font-semibold">Transmisión</span>
                <i class="flaticon-caja-de-cambios text-3xl text-white"></i>
            </div>

            <div (click)="handleOption(5)"
                class="flex flex-col gap-3 justify-center items-center bg-black p-4 border-l-8 border-blue-600 hover:bg-gray-600 hover:border-blue-200"
                [ngClass]="{'bg-gray-600 border-blue-200': option === 5,'bg-black border-blue-600': option !== 5}">
                <span class="proximaNova-Regular text-white text-xl font-semibold">Dimensiones</span>
                <i class="flaticon-expansion text-3xl text-white"></i>
            </div>
        </div>

        <div *ngIf="option == 1" class="flex flex-col sm:gap-10 xl:gap-16 max-w-xl px-10 pt-8 bg-slate-100"
            [ngClass]="{ fadeIn: option == 1, fadeOut: option != 1 }">
            <div class="flex flex-col gap-3">
                <h3 class="proximaNova-Regular text-center text-xl font-semibold uppercase">
                    Motor y Caracteristicas
                </h3>
                <p class="proximaNova-Light">
                    Cargado con un eficiente motor de
                    {{ motorcycle?.cilindrada }} centimetros cubicos, lo que te dara
                    satisfacción al recorrer las pistas con esta bella motocicleta.
                </p>
            </div>

            <div class="sm:flex sm:flex-col sm:gap-7 xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-pistons sm:text-5xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular text-xl">Cilindrada</h4>
                            <p class="proximaNova-Light sm:text-base xl:text-base">
                                {{ motorcycle?.cilindrada }}cc
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-motor-del-coche sm:text-5xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular text-xl">Potencia</h4>
                            <p class="proximaNova-Light sm:text-base xl:text-base">
                                {{ motorcycle?.potencia }}-HP
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-velocimetro sm:text-5xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular text-xl">Torque</h4>
                            <p class="proximaNova-Light sm:text-base xl:text-xl">
                                {{ motorcycle?.torque }}NM
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="option == 2" class="flex flex-col sm:gap-10 xl:gap-16 max-w-xl px-10 pt-8 bg-slate-100"
            [ngClass]="{ fadeIn: option == 2, fadeOut: option != 2 }">
            <div class="flex flex-col gap-3">
                <h3 class="proximaNova-Regular text-center text-xl font-semibold uppercase">
                    Motor
                </h3>
                <p class="hidden xl:block proximaNova-Light">
                    Eficiente motor con una autonomia de {{motorcycle?.autonomia}}. La
                    {{motorcycle?.modelo}} tiene una cilindrada de {{motorcycle?.cilindrada}} cc y una potencia de {{motorcycle?.potencia}} caballos
                    de fuerza.
                </p>
            </div>

            <div class="sm:flex sm:flex-col sm:gap-7 xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-combustible text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">
                                Combustible y Rendimiento
                            </h4>
                            <p class="proximaNova-Light text-base">
                                {{ motorcycle?.combustible }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-gas-tank text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Tanque</h4>
                            <p class="proximaNova-Light text-base">
                                {{ motorcycle?.tanque }} por galon
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-bajo-rendimiento text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Rendimiento</h4>
                            <p class="proximaNova-Light text-base">
                                {{ motorcycle?.rendimiento }}KM/GL
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-radar-de-velocidad text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Autonomía</h4>
                            <p class="proximaNova-Light text-base">
                                {{ motorcycle?.autonomia }} KM
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="option == 3" class="flex flex-col sm:gap-10 xl:gap-16 max-w-xl px-10 pt-8 bg-slate-100"
            [ngClass]="{ fadeIn: option == 3, fadeOut: option != 3 }">
            <div class="flex flex-col gap-3">
                <h3 class="proximaNova-Regular text-center text-xl font-semibold uppercase">
                    Suspension
                </h3>
                <p class="hidden xl:block proximaNova-Light">
                    La {{motorcycle?.modelo}} cuenta con frenos {{motorcycle?.freno_delantero}}, ideales para
                    este tipo de cilindra y que en combinación con el bajo peso otorga una
                    frenada muy eficiente.
                </p>
            </div>

            <div class="sm:flex sm:flex-col sm:gap-7 xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-4">
                        <i class="flaticon-freno-de-disco text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Freno Delantero</h4>
                            <p class="hidden xl:block proximaNova-Light text-base">
                                {{ motorcycle?.freno_delantero }}cc
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-4">
                        <i class="flaticon-freno-de-disco text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Suspensión Delantera</h4>
                            <p class="hidden xl:block proximaNova-Light text-base">
                                {{ motorcycle?.suspension_delantero }}cc
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-4">
                        <i class="flaticon-suspension text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Freno Posterior</h4>
                            <p class="hidden xl:block proximaNova-Light text-base">
                                {{ motorcycle?.freno_posterior }}cc
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-4">
                        <i class="flaticon-suspension text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Suspensión Posterior</h4>
                            <p class="hidden xl:block proximaNova-Light text-base">
                                {{ motorcycle?.suspension_posterior }}cc
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="option == 4" class="flex flex-col sm:gap-10 xl:gap-16 max-w-xl px-10 pt-8 bg-slate-100"
            [ngClass]="{ fadeIn: option == 4, fadeOut: option != 4 }">
            <div class="flex flex-col gap-3">
                <h3 class="proximaNova-Regular text-center text-xl font-semibold uppercase">
                    Transmisión
                </h3>
                <p class="proximaNova-Light">
                    La {{ motorcycle?.modelo }} cuenta con una transmisión
                    {{ motorcycle?.transmision }} asegurándonos una cómoda conducción.
                </p>
            </div>

            <div class="sm:flex sm:flex-col sm:gap-7 xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-caja-de-cambios text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular text-xl">Transmisión</h4>
                            <p class="proximaNova-Light text-base">
                                {{ motorcycle?.transmision }}cc
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-radar-de-velocidad text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular text-xl">Velocidad Máxima</h4>
                            <p class="proximaNova-Light text-base">
                                {{ motorcycle?.velocidad }}cc
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="option == 5" class="flex flex-col sm:gap-10 xl:gap-16 max-w-xl px-10 pt-8 bg-slate-100"
            [ngClass]="{ fadeIn: option == 5, fadeOut: option != 5 }">
            <div class="flex flex-col gap-3">
                <h3 class="proximaNova-Regular text-center text-xl font-semibold uppercase">
                    Dimensiones
                </h3>
                <p class="proximaNova-Light">
                    Una moto de reducidas dimensiones, con un faro de tamaño considerable,
                    batería de 12 voltios, grandes guardabarros y un soporte central
                    sólido.
                </p>
            </div>

            <div class="sm:flex sm:flex-col sm:gap-7 xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-peso text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular text-xl">Peso</h4>
                            <p class="proximaNova-Light text-base">{{ motorcycle?.peso }}kg</p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-expansion text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular text-xl">Dimensiones (CM)</h4>
                            <p class="proximaNova-Light text-base">
                                {{ motorcycle?.largo }}x{{ motorcycle?.ancho }}(LXA)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex md:hidden">
    <p-accordion>
        <p-accordionTab header="Motor">
            <div class="flex flex-col justify-between gap-3 p-4">
                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-pistons text-4xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Cilindrada
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-sm font-medium">{{ motorcycle?.cilindrada
                            }} cc</span>
                    </div>
                </div>

                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-motor-del-coche text-4xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Potencia
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-sm font-medium">{{ motorcycle?.potencia
                            }} HP</span>
                    </div>
                </div>

                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-velocimetro text-4xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Torque
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-sm font-medium">{{ motorcycle?.torque
                            }} NM</span>
                    </div>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Combustible">
            <div class="flex flex-col justify-between gap-2 p-4">
                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-combustible text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Combustible
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-sm font-semibold">{{ motorcycle?.combustible
                            }}</span>
                    </div>
                </div>

                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-gas-tank text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Tanque
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-sm font-semibold">{{ motorcycle?.tanque }}
                            Galon</span>
                    </div>
                </div>

                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-bajo-rendimiento text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Rendimiento
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-sm font-semibold">{{ motorcycle?.rendimiento
                            }} KM/GL</span>
                    </div>
                </div>

                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-velocimetro-1 text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Autonomía
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-xs font-semibold">{{ motorcycle?.autonomia }}
                            KM</span>
                    </div>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Suspensión">
            <div class="flex flex-col justify-between gap-4 p-4">
                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110 max-w-60">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-freno-de-disco text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Freno Delantero
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-xs font-semibold">{{
                            motorcycle?.freno_delantero }}</span>
                    </div>
                </div>

                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110 max-w-60">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-freno-de-disco text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Suspensión Delantera
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-xs font-semibold">{{
                            motorcycle?.suspension_delantero }}</span>
                    </div>
                </div>

                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110 max-w-60">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-suspension text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Freno Posterior
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-xs font-semibold">{{
                            motorcycle?.freno_posterior }}</span>
                    </div>
                </div>

                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110 max-w-60">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-suspension text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Suspensión Posterior
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-xs font-semibold">{{
                            motorcycle?.suspension_posterior }}</span>
                    </div>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Transmision">
            <div class="flex flex-col justify-between gap-2 p-4">
                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-caja-de-cambios text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Transmisión
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-xs font-semibold">{{ motorcycle?.transmision
                            }}</span>
                    </div>
                </div>

                <div *ngIf="motorcycle?.velocidad != 'NE'"
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-velocimetro text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Velocidad Máxima
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-xs font-semibold">{{ motorcycle?.velocidad }}
                            kM</span>
                    </div>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Dimensiones">
            <div class="flex flex-col justify-between gap-2 p-4">
                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-peso text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Peso
                        </h5>
                        <span class="text-slate-500 proximaNova-Light text-xs font-semibold">{{ motorcycle?.peso }}
                            kG</span>
                    </div>
                </div>

                <div
                    class="p-2 flex flex-row gap-5 items-center transition-transform hover:scale-y-110 hover:scale-x-110">
                    <div class="flex flex-row">
                        <i class="text-slate-500 flaticon-pistons text-3xl"></i>
                    </div>
                    <div class="flex flex-col gap-0">
                        <h5 class="proximaNova-Regular sm:text-sm xl:text-xl font-semibold text-red-500">
                            Dimensiones (CM)
                        </h5>
                        <span class="text-slate-500 proximaNova-Light proximaNova-Light text-xs font-semibold">{{
                            motorcycle?.largo }} x {{ motorcycle?.ancho }} (LXA)</span>
                    </div>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>