<div class="block">
    <div class="flex flex-row">
        <div class="flex flex-col justify-center">
            <div (click)="handleOption(1)"
                class="flex flex-col gap-3 justify-center items-center bg-black sm:p-3 md:p-4 border-l-8 border-blue-600 hover:bg-gray-600 hover:border-blue-200"
                [ngClass]="{'bg-gray-600 border-blue-200': option === 1,'bg-black border-blue-600': option !== 1}">
                <span class="proximaNova-Regular text-white sm:text-base md:text-lg lg:text-xl font-semibold">Motor</span>
                <i class="flaticon-motor-del-coche sm:text-base md:text-2xl lg:text-3xl text-white"></i>
            </div>
            
            <div (click)="handleOption(2)"
                class="flex flex-col gap-3 justify-center items-center bg-black sm:p-3 md:p-4 border-l-8 border-blue-600 hover:bg-gray-600 hover:border-blue-200"
                [ngClass]="{'bg-gray-600  border-blue-200': option === 2, 'bg-black  border-blue-600': option !== 2 }">
                <span class="proximaNova-Regular text-white sm:text-base md:text-lg lg:text-xl font-semibold">Combustible</span>
                <i class="flaticon-combustible sm:text-base md:text-2xl lg:text-3xl text-white"></i>
            </div>

            <div (click)="handleOption(3)"
                class="flex flex-col gap-3 justify-center items-center bg-black p-4 border-l-8 border-blue-600 hover:bg-gray-600 hover:border-blue-200"
                [ngClass]="{'bg-gray-600  border-blue-200': option === 3, 'bg-black  border-blue-600': option !== 3 }">
                <span class="proximaNova-Regular text-white sm:text-base md:text-lg lg:text-xl font-semibold">Suspensión</span>
                <i class="flaticon-freno-de-disco sm:text-base md:text-2xl lg:text-3xl text-white"></i>
            </div>

            <div (click)="handleOption(4)"
                class="flex flex-col gap-3 justify-center items-center bg-black p-4 border-l-8 border-blue-600 hover:bg-gray-600 hover:border-blue-200"
                [ngClass]="{'bg-gray-600  border-blue-200': option === 4,'bg-black  border-blue-600': option !== 4}">
                <span class="proximaNova-Regular text-white sm:text-base md:text-lg lg:text-xl font-semibold">Transmisión</span>
                <i class="flaticon-caja-de-cambios sm:text-base md:text-2xl lg:text-3xl text-white"></i>
            </div>

            <div (click)="handleOption(5)"
                class="flex flex-col gap-3 justify-center items-center bg-black p-4 border-l-8 border-blue-600 hover:bg-gray-600 hover:border-blue-200"
                [ngClass]="{'bg-gray-600 border-blue-200': option === 5,'bg-black border-blue-600': option !== 5}">
                <span class="proximaNova-Regular text-white sm:text-base md:text-lg lg:text-xl font-semibold">Dimensiones</span>
                <i class="flaticon-expansion sm:text-base md:text-2xl lg:text-3xl text-white"></i>
            </div>
        </div>


        <div *ngIf="option == 1" class="flex flex-col sm:gap-10 xl:gap-16 max-w-xl sm:px-10 md:px-10 pt-8 bg-slate-100" [ngClass]="{ fadeIn: option == 1, fadeOut: option != 1 }">
            <div class="flex flex-col gap-3">
                <h3 class="proximaNova-Regular text-center sm:text-xs md:text-base lg:text-xl font-semibold uppercase">
                    Motor y Características
                </h3>
                <p class="proximaNova-Light sm:text-xs md:text-sm lg:text-base">
                    Cargada con un eficiente motor de
                    {{ motorcycle.cilindrada }} centímetros cúbicos, lo que te dará 
                    satisfacción al recorrer las pistas con esta bella motocicleta.
                </p>
            </div>

            <div class="sm:flex sm:flex-col sm:gap-7 xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-pistons sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm md:text-xl">Cilindrada</h4>
                            <p class="proximaNova-Light sm:text-sm xl:text-base">
                                {{ motorcycle.cilindrada }} cc
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-motor-del-coche sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm md:text-xl">Potencia</h4>
                            <p class="proximaNova-Light sm:text-sm xl:text-base">
                                {{ motorcycle.potencia }}-hp
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-velocimetro sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm md:text-xl">Torque</h4>
                            <p class="proximaNova-Light sm:text-sm xl:text-base">
                                {{ motorcycle.torque }} nm
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div *ngIf="option == 2" class="flex flex-col sm:gap-7 xl:gap-16 max-w-xl sm:px-10 md:px-10 pt-8 bg-slate-100" [ngClass]="{ fadeIn: option == 2, fadeOut: option != 2 }">
            <div class="flex flex-col gap-3">
                <h3 class="proximaNova-Regular text-center sm:text-xs md:text-base lg:text-xl font-semibold uppercase">
                    Combustible
                </h3>
                <p class="proximaNova-Light sm:text-xs md:text-sm lg:text-base">
                    Motor eficiente con una autonomía de {{motorcycle.autonomia}} km. La
                    {{motorcycle.modelo}} tiene una cilindrada de {{motorcycle.cilindrada}} cc y una potencia de 
                    {{motorcycle.potencia}} hp.
                </p>
            </div>

            <div class="sm:flex sm:flex-col sm:gap-7 xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-combustible sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm md:text-xl">
                                Combustible
                            </h4>
                            <p class="proximaNova-Light sm:text-xs xl:text-base">
                                {{ motorcycle.combustible }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-gas-tank sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm md:text-xl">Tanque</h4>
                            <p class="proximaNova-Light sm:text-xs xl:text-base">
                                {{ motorcycle.tanque }} litros
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-bajo-rendimiento sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-xs xl:text-xl">Rendimiento</h4>
                            <p class="proximaNova-Light sm:text-xs xl:text-base">
                                {{ motorcycle.rendimiento }} km/gal
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-radar-de-velocidad sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-xs xl:text-xl">Autonomía</h4>
                            <p class="proximaNova-Light sm:text-xs xl:text-base">
                                {{ motorcycle.autonomia }} km
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="option == 3" class="flex flex-col sm:gap-10 xl:gap-16 max-w-xl sm:px-10 md:px-10 pt-8 bg-slate-100" [ngClass]="{ fadeIn: option == 3, fadeOut: option != 3 }">
            <div class="flex flex-col gap-3">
                <h3 class="proximaNova-Regular text-center sm:text-xs md:text-base lg:text-xl font-semibold uppercase">
                    Suspensión
                </h3>
                <p class="proximaNova-Light sm:text-xs md:text-sm lg:text-base hidden lg:block">
                    La {{ motorcycle.modelo }} cuenta con frenos {{ motorcycle.freno_delantero }}, ideales para este tipo de cilindra y, en combinación con el bajo peso, otorgan una frenada muy eficiente.
                </p>
        
                <p class="proximaNova-Light sm:text-xs md:text-sm lg:text-base md:hidden">
                    La {{ motorcycle.modelo }} cuenta con frenos {{ motorcycle.freno_delantero }}, ideales para una frenada muy eficiente.
                </p>
            </div>
        
            <div class="sm:flex sm:flex-col sm:gap-7 xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-4">
                        <i class="flaticon-freno-de-disco sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-xs xl:text-lg">Freno Delantero</h4>
                            <p class="hidden xl:block proximaNova-Light sm:text-sm xl:text-sm">
                                {{ motorcycle.freno_delantero }}
                            </p>
                        </div>
                    </div>
                </div>
        
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-4">
                        <i class="flaticon-freno-de-disco sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-xs xl:text-lg">Suspensión Delantera</h4>
                            <p class="hidden xl:block proximaNova-Light sm:text-sm xl:text-sm">
                                {{ motorcycle.suspension_delantero }}
                            </p>
                        </div>
                    </div>
                </div>
        
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-4">
                        <i class="flaticon-suspension sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-xs xl:text-lg">Freno Posterior</h4>
                            <p class="hidden xl:block proximaNova-Light sm:text-sm xl:text-sm">
                                {{ motorcycle.freno_posterior }}
                            </p>
                        </div>
                    </div>
                </div>
        
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-4">
                        <i class="flaticon-suspension sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-xs xl:text-lg">Suspensión Posterior</h4>
                            <p class="hidden xl:block proximaNova-Light sm:text-sm xl:text-sm">
                                {{ motorcycle.suspension_posterior }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="option == 4" class="flex flex-col sm:gap-8 md:gap-16 max-w-xl sm:px-10 md:px-10 pt-8 bg-slate-100" [ngClass]="{ fadeIn: option == 4, fadeOut: option != 4 }">
            <div class="flex flex-col gap-3">
                <h3 class="proximaNova-Regular text-center sm:text-xs md:text-base lg:text-xl font-semibold uppercase">
                    Transmisión
                </h3>
                <p class="proximaNova-Light sm:text-xs md:text-sm lg:text-base">
                    La {{ motorcycle.modelo }} cuenta con una transmisión {{ motorcycle.transmision.toLowerCase() }}, asegurando una cómoda conducción.
                </p>
            </div>
        
            <div class="sm:flex sm:flex-col sm:gap-7 xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-caja-de-cambios sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Transmisión</h4>
                            <p class="proximaNova-Light sm:text-sm xl:text-base">
                                {{ motorcycle.transmision }}
                            </p>
                        </div>
                    </div>
                </div>
        
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-radar-de-velocidad sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Velocidad Máxima</h4>
                            <p class="proximaNova-Light sm:text-sm xl:text-base">
                                {{ motorcycle.velocidad }} km/h
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="option == 5" class="flex flex-col sm:gap-10 md:gap-16 max-w-xl sm:px-8 md:px-10 pt-8 bg-slate-100" [ngClass]="{ fadeIn: option == 5, fadeOut: option != 5 }">
            <div class="flex flex-col gap-3">
                <h3 class="proximaNova-Regular text-center sm:text-xs md:text-base lg:text-xl font-semibold uppercase">
                    Dimensiones
                </h3>
                <p class="proximaNova-Light sm:text-xs md:text-sm lg:text-base">
                    {{ getMotorcycleDescription() }}
                </p>
            </div>
        
            <div class="sm:flex sm:flex-col sm:gap-7 xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-peso sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Peso</h4>
                            <p class="proximaNova-Light sm:text-sm xl:text-base">{{ motorcycle.peso }} kg</p>
                        </div>
                    </div>
                </div>
        
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center gap-4">
                        <i class="flaticon-expansion sm:text-2xl md:text-3xl xl:text-4xl"></i>
                        <div class="flex flex-col">
                            <h4 class="proximaNova-Regular sm:text-sm xl:text-xl">Dimensiones (cm)</h4>
                            <p class="proximaNova-Light sm:text-sm xl:text-base">
                                {{ motorcycle.largo }} x {{ motorcycle.ancho }} (lxa)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
