<p-accordion [activeIndex]="1" class="w-full Primary-font">
    <p-accordionTab header="Origins">
        <div class="p-4 flex flex-col gap-4">
            <div *ngFor="let origin of origins; let i = index" class="flex items-center">
                <div class="flex gap-0">
                    <p-checkbox [(ngModel)]="origin.selected" inputId="{{origin.name}}" name="{{origin.name}}" [value]="origin.name" />
                    <label for="{{origin.name}}" class="ml-2"> {{ origin.name }} </label>
                </div>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>
