<div>
    <section class="lg:flex flex-col gap-4 p-4">
        <app-clear-filter [custom_style]="'text-start text-xs bg-white py-4 px-4 proximaNova-Regular font-bold w-full hover:text-blue-500'"></app-clear-filter>
        <app-filter-by-categories/>
        <app-filter-by-transmition/>
        <app-filter-section-group/>
        
        <!-- 
        <app-filter-by-type-motor-cycle/>
        <app-filter-by-price-and-coin/>
        <app-filter-by-displacement/>
        <app-filter-by-driving-position/>
        <app-category-separator category="MECANICA" />
        <app-filter-by-power/>
        <app-filter-by-brakes/>
        <app-filter-by-cylinders/>
        <app-category-separator category="COMBUSTIBLE" />
        <app-filter-by-performance/>
        <app-filter-by-fuel-system/>
        <app-category-separator category="" />
        <app-filter-by-brand/>
        <app-filter-by-style/>
        <app-filter-by-warranty/>
        <app-filter-by-colors/> -->
    </section>
</div>