<section class="fade-in" *ngIf="motorCycle">  
    <app-moto-header-detail [motorcycle]="motorCycle"/>
    <!-- <app-moto-technical-specification [motorcycle]="motorCycle" /> -->
    <app-carrousel-for-motorcycles [motorcycle]="motorCycle"/>
    <app-chispa-information [motorcycle]="motorCycle"/>
</section>

<div class=" w-screen h-screen flex flex-col justify-center items-center" *ngIf="!motorCycle">
    <p class="proximaNova-Bold text-3xl text-red-600">Cargando detalles de la motocicleta...</p>
    <img src="../../../../assets/gifs/bike.gif"  alt="Global GO CHISPA, TU MEJOR ASESOR INTELIGENTE PARA TUS FINANCIAMIENTOS">
</div>