<section class="w-full p-20" style="background-color: #f3f3f3;">
    <div class="flex sm:flex-col md:flex-row justify-center items-center gap-5">
        <img src="./../../../../../assets/imgs/logos/Chispa_senalando.svg" class="sm:max-w-36 xl:max-w-80" alt="Global GO chispa la vida de global go y tu mejor asesor">
        <div class="flex flex-col gap-4 Primary-font max-w-5xl">
            <p class=" sm:text-lg md:text-2xl proximaNova-Light">{{motorcycle.texto}}</p>
            <div class=" flex sm:flex-col md:flex-row items-center gap-4 justify-between">
                <div class="flex flex-col sm:gap-1 md:gap-3 w-full sm:text-center md:text-left">
                    <h1 class="text-blue-600 proximaNova-Regular sm:text-xl md:text-3xl font-medium">
                        Categoría
                    </h1>
                    <h1 class="proximaNova-Light sm:text-xl md:text-2xl">
                        {{motorcycle.categoria}}
                    </h1>
                </div>
                <a class="w-full sm:text-xl md:text-3xl text-center sm:bg-red-600 md:bg-red-600 text-white  proximaNova-Regular px-2 py-4 rounded-md transition-transform hover:bg-blue-700 hover:text-white hover:scale-x-105" [href]="financingUrl">Financiar Ahora</a>                
            </div>
        </div>
    </div>
</section>
