<section class="w-full p-20" style="background-color: #f3f3f3;">
    <div class="flex sm:flex-col md:flex-row justify-center items-center gap-5">
        <img src="./../../../../../assets/imgs/logos/Chispa_senalando.svg" class="sm:max-w-48 xl:max-w-80">
        <div class="flex flex-col gap-4 Primary-font max-w-5xl">
            <p class=" text-xl font-medium">
            {{motorcycle?.texto}}
            </p>
            <span class="text-blue-600 Ruso-Font text-3xl font-medium">
                Categoría
            </span>
            <span>
                {{motorcycle?.categoria}}
            </span>

        </div>

    </div>
</section>