<section class="w-full p-20" style="background-color: #f3f3f3;">
    <div class="flex sm:flex-col md:flex-row justify-center items-center gap-5">
        <img src="./../../../../../assets/imgs/logos/Chispa_senalando.svg" class="sm:max-w-48 xl:max-w-80">
        <div class="flex flex-col gap-4 Primary-font max-w-5xl">
            <p class=" text-2xl proximaNova-Light">
            {{motorcycle?.texto}}
            </p>
            
            <div class=" flex flex-row items-center gap-4 justify-between">
                <div class="flex flex-col gap-3 w-full">
                    <span class="text-blue-600 proximaNova-Regular text-3xl font-medium">
                        Categoría
                    </span>
                    <span class="proximaNova-Light text-2xl">
                        {{motorcycle?.categoria}}
                    </span>
                </div>
                <button class="w-full text-3xl bg-slate-700 text-white font-semibold proximaNova-Regular px-2 py-4 rounded-md transition-transform hover:bg-red-600 hover:text-white hover:scale-x-105" (click)="dialogHandle()">Financiar Ahora</button>
                
                <!-- <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                    <div class=" flex flex-col justify-center items-center">
                        <h1>Requisitos de financiamiento</h1>
                        <ul>
                            <li>Ser mayor de edad</li>
                            <li>Requisito 1</li>
                            <li>Requisito 2</li>
                            <li>Requisito 3</li>
                            <li>Requisito 4</li>
                            <li>Requisito 5</li>
                            <li>Requisito 6</li>
                            <li>Requisito 7</li>
                        </ul>
                    </div>
                </p-dialog> -->


            </div>


        </div>

    </div>
</section>


<!-- 
            <span class="text-blue-600 proximaNova-Regular text-3xl font-medium">
                Categoría
            </span>
            <span class="proximaNova-Light text-2xl">
                {{motorcycle?.categoria}}
            </span>


            <button class="bg-black text-white font-semibold proximaNova-Regular px-2 py-4 rounded-md hover:bg-red-600 hover:text-white">Financiar Ahora</button>

-->