<section class="sm:px-8 py-10 w-full flex items-center justify-center bg-white mb-24 relative">
    <div class="flex sm:flex-col md:flex-row justify-center gap-4">
        <div class="card hidden xl:block">
            <p-galleria [value]="images" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions"
                [circular]="true" [numVisible]="5" [containerStyle]="{ 'max-width': '640px' }">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.itemImageSrc" style="width: 100%; display: block" class="pointer-events-none" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.thumbnailImageSrc" style="display: block" />
                    </div>
                </ng-template>
            </p-galleria>
        </div>

        <div class="card sm:flex xl:hidden">
            <p-galleria [value]="images" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions"
                [circular]="true" [numVisible]="5" [containerStyle]="{ 'max-width': '640px' }">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.itemImageSrc" style="width: 100%; display: block" class="pointer-events-none" />
                </ng-template>
                <!-- <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.thumbnailImageSrc" style="display: block" />
                    </div>
                </ng-template> -->
            </p-galleria>
        </div>

        <div class="flex flex-col justify-center gap-5 p-3">
            <header class="flex flex-col gap-10">
                <h4 class="Ruso-Font font-semibold text-7xl text-blue-600">{{motorcycle?.modelo}}</h4>
                <p class="Ruso-Font font-semibold text-3xl">
                    Especificaciones Técnicas
                </p>
            </header>

            <footer class="md:p-3 sm:max-w-xs xl:max-w-6xl">
                <p-tabView>
                    <p-tabPanel header="Motor">

                        <div class="grid grid-cols-2 justify-between gap-10 p-4">
                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-pistons sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Cilindrada
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.cilindrada}}cc</span>
                                </div>
                            </div>

                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-motor-del-coche sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Potencia
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.potencia}}HP</span>
                                </div>
                            </div>

                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-velocimetro sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Torque
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.torque}}Nm</span>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Combustible">
                        <div class="grid grid-cols-2 justify-between gap-2 p-4">
                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-combustible sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Combustible
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.combustible}}</span>
                                </div>
                            </div>

                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-gas-tank sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Tanque
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.tanque}} galon</span>
                                </div>
                            </div>

                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-bajo-rendimiento sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Rendimiento
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.rendimiento}} Km/gl</span>
                                </div>
                            </div>

                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-velocimetro-1 sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Autonomía
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.autonomia}} Km</span>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Suspencion">
                        <div class="grid grid-cols-2 justify-between gap-2 p-4">
                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-freno-de-disco sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Freno delantero
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.freno_delantero}}</span>
                                </div>
                            </div>

                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-freno-de-disco sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Suspensión Delantera
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.suspension_delantero}}</span>
                                </div>
                            </div>

                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-suspension sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Freno Posterior
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.freno_posterior}}</span>
                                </div>
                            </div>

                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-suspension sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Suspensión Posterior
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.suspension_posterior}}</span>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Transmisión">
                        <div class="grid grid-cols-2 justify-between gap-2 p-4">
                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-caja-de-cambios sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Transmisión
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.transmision}}</span>
                                </div>
                            </div>

                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-velocimetro sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Velocidad
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.velocidad}} km</span>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Dimesion">
                        <div class="grid grid-cols-2 justify-between gap-2 p-4">
                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-peso sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Peso
                                    </h1>
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.peso}} kg</span>
                                </div>
                            </div>

                            <div class="p-2 flex flex-row gap-5 items-center">
                                <div class="flex flex-row">
                                    <i class="flaticon-pistons sm:text-3xl xl:text-6xl"></i>
                                </div>
                                <div class="flex flex-col gap-0">
                                    <h1 class="Ruso-Font sm:text-sm xl:text-xl font-semibold text-blue-700">
                                        Dimensiones (CM)
                                    </h1>
                                    <!-- <span class="sm:text-xs xl:text-sm xl:font-semibold">199.5x76.5x80
                                        (LargoxAnchoxAlto)
                                    </span> -->
                                    <span class="sm:text-xs xl:text-sm xl:font-semibold">{{motorcycle?.largo}}x{{motorcycle?.ancho}}(LXA)</span>
                                    
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </footer>
        </div>
    </div>
    <img src="../../../../../assets/gifs/dance.gif" class="absolute max-w-20 pointer-events-none" style="left: 90%;">
</section>