<p-accordion [activeIndex]="1" class="w-full Primary-font">
    <p-accordionTab header="Colors">
        <div class="p-4 flex flex-col gap-4">

            <div class="flex gap-3">
                <app-button-check [_background]="'green'" (click)="handleFilter('green')"/>
                <app-button-check [_background]="'lightblue'" (click)="handleFilter('lightblue')" />
                <app-button-check [_background]="'red'"  (click)="handleFilter('red')" />
                <app-button-check [_background]="'black'" (click)="handleFilter('black')"/>
                <app-button-check [_background]="'orange'" (click)="handleFilter('orange')"/>
            </div>                 

        </div>
    </p-accordionTab>
</p-accordion>