
*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}


body, header, footer, section, div,template,html {
  margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button{
  /* background-color: transparent; */
  border: none;
}

/* 
  Extra resets for web apps
*/

i{
  font-size: 1.2rem;
}

* {
  /* padding: 0; */
  font: inherit;
}

html,
body {
  height: 100%;
}