<div class="p-4 sm:flex sm:flex-col sm:justify-center sm:items-center md:grid md:grid-cols-2 xl:grid xl:grid-cols-3 gap-8">       
    <!-- <motoCardVue v-for ="moto in motorcycles" :key="moto.id" :data="moto"></motoCardVue> -->
    <!-- <app-moto-card [data]="cardData"></app-moto-card>
    <app-moto-card [data]="cardData"></app-moto-card>
    <app-moto-card [data]="cardData"></app-moto-card>
    <app-moto-card [data]="cardData"></app-moto-card>
    <app-moto-card [data]="cardData"></app-moto-card>
    <app-moto-card [data]="cardData"></app-moto-card>
    <app-moto-card [data]="cardData"></app-moto-card> -->
</div>