<section>
    <img src="../../../../../assets/imgs/motorcycles/HONDA_CBR500R .jpg" class="relative">
    
    <div class="absolute hidden xl:block text-black p-4" style=" top: 15%; left: 5%">
        <div class=" flex flex-col gap-5">
            <div class="flex flex-col gap-1 p-3 text-right">
                <h3 class="text-6xl Primary-font font-bold">RONCO</h3>
                <h3 class="text-9xl Oswaldo-Font">RC125G</h3>
                <p class="Oswaldo-Font font-bold">2023</p>
            </div>

            <div class="flex flex-col gap-2 max-w-xl">
                <div class="flex flex-col gap-1 mt-3">
                    <span class="Primary-font text-2xl font-medium">PRECIO REFERENCIAL PARA LIMA
                        (PRECIO VÁLIDO HOY 18/06/2024 Y/O HASTA AGOTAR STOCK)
                    </span>
                    <h3 class="font-bold text-4xl">USD $1,055</h3>
                    <p class="font-bold">S/ 4,009 *</p>
                    <p class="font-bold">T/C 3.8 (REFERENCIAL)</p>
                </div>
            </div>

            <div class="w-full text-center">
                <button
                    class=" bg-yellow-400 hover:bg-yellow-200 text-black text-2xl p-4 text-center font-semibold Primary-font">
                    QUIERO ESTA MOTO
                </button>
            </div>
        </div>
    </div>
    
</section>