<section class="relative">
    <img [src]="getPathHeader(motorcycle?.imagen)" class="pointer-events-none">

    <div class="max-w-2xl absolute hidden 2xl:flex flex-col gap-3 text-black p-4 top-[20%] left-[3%]">

        <head class="flex flex-row items-center gap-2">
            <img [src]="getPathLogoHeader1(motorcycle?.logo)" class=" max-w-40">

            <ng-container *ngIf="motorcycle?.ModelIcon && motorcycle?.ModelIcon != ' '; else noImageTemplate">
                <img [src]="getPathLogoHeader2(motorcycle?.logo)" class="max-w-md">
            </ng-container>
              
            <ng-template #noImageTemplate>
                <img [src]="getPathLogoHeader2('pulsar.svg')" class="max-w-md">
            </ng-template>

        </head>
        
        <main>
            <h1 class="proximaNova-Bold text-white text-8xl">{{motorcycle?.modelo}}</h1>
        </main>

        <footer class="flex flex-col gap-2">
            <span class="pl-2 py-4 bg-white max-w-56 text-blue-600 text-5xl proximaNova-Regular"> {{ motorcycle?.precio | currency: 'S/':'symbol':'1.0-0' }}</span>
            <p class="text-white text-xl Roboto-Font">Precio Referecial al {{today.getDate()}}/{{today.getMonth()}}/{{today.getFullYear()}} </p>
        </footer>
    </div>
</section>