.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px; 
    height: 64px; 
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}
.icon-circle:hover{
    border: 2px gray;
}

.icon-circle i {
    font-size: 2.5rem; 
    color: #333; 
}