
.p-accordion {
  max-width: 400px;
  font-family: 'Proxima Nova Light';
}











.p-dropdown-label		{
  font-family: 'Proxima Nova Regular';
}

.p-dropdown-items	{
  font-family: 'Proxima Nova Regular';
}


/* .p-dropdown	Container element.
.p-dropdown-clearable	Container element when showClear is on.
.p-dropdown-label	Element to display label of selected option.
.p-dropdown-trigger	Icon element.
.p-dropdown-panel	Icon element.
.p-dropdown-items-wrapper	Wrapper element of items list.
.p-dropdown-items	List element of items.
.p-dropdown-item	An item in the list.
.p-dropdown-filter-container	Container of filter input.
.p-dropdown-filter	Filter element.
.p-dropdown-open
 */


























.p-accordion-content {
  background-color: #f4f5f9;
}

.p-tabview-panels {
  padding: 0px;
  /* background-color: red;
    max-width: 800px; */
}


/* ANIMACION DE TAB VIEW */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.p-tabview-panel {
    animation-fill-mode: both;    
    animation: fadeIn 0.5s;
}

/* .p-tabview-panel {
} */


/* .p-tabview-selected{
    background-color: rebeccapurple;
    padding: 40px;
} */







   
.p-scrollpanel-bar-y{
  background-color: rgb(171, 211, 250); 
}