/* ACCORDIO */

.p-accordion {
  max-width: 400px;
  font-family: 'Proxima Nova Lt';
}

/* DROPDOW */

.p-dropdown-label		{
  font-family: 'Proxima Nova Rg';
}

.p-dropdown-items	{
  font-family: 'Proxima Nova Rg';
}

.p-accordion-content {
  background-color: #f4f5f9;
}



/* TABVIEW */


.p-tabview-panels {
  padding: 0px;
}


/* ANIMACION DE TAB VIEW */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.p-tabview-panel {
    animation-fill-mode: both;    
    animation: fadeIn 0.5s;
}

.p-tabview{
  font-family: 'Proxima Nova Rg';
}


/* Estilos para el hover */

.p-tabview .p-element .ng-star-inserted .p-highlight a {
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.p-tabview .p-element:hover {
  background-color:crimson;
  color: white;
} 


.ng-star-inserted .p-highlight a{
  background-color: black;
  color: white;
}



/* SCROLLBAR */
   
.p-scrollpanel-bar-y{
  background-color: rgb(171, 211, 250); 
}

