.Primary-font{
    font-family: roboto condensed, sans-serif;
}

.Roboto-Font{
    font-family: roboto, sans-serif;
}

.Oswaldo-Font{
    font-family: "Oswald", sans-serif;
}

.Ruso-Font{
    font-family: "Russo One", sans-serif;
}