<p-accordion [activeIndex]="1" class="w-full Primary-font">
  <p-accordionTab header="Cilindrada">
    <div class="p-4 flex flex-col gap-4">
      <p-slider [(ngModel)]="displacement" class="w-full" [min]="98" [max]="270" (onChange)="handleFilter()" />
      <span class="proximaNova-Light">{{ displacement }}  Cilindrada</span>

      <div class="flex flex-row justify-between">
        <app-clear-filter custom_style="font-bold proximaNova-Regular text-xs hover:text-blue-500" />
      </div>
    </div>
  </p-accordionTab>
</p-accordion>